NET "clk" TNM_NET = clk;
TIMESPEC TS_clk = PERIOD "clk" 108 MHz HIGH 50%;

NET "clk" LOC = P56 | IOSTANDARD = LVTTL;
NET "rst_n" LOC = P38 | IOSTANDARD = LVTTL;

NET "led<0>" LOC = P134 | IOSTANDARD = LVTTL;
NET "led<1>" LOC = P133 | IOSTANDARD = LVTTL;
NET "led<2>" LOC = P132 | IOSTANDARD = LVTTL;
NET "led<3>" LOC = P131 | IOSTANDARD = LVTTL;
NET "led<4>" LOC = P127 | IOSTANDARD = LVTTL;
NET "led<5>" LOC = P126 | IOSTANDARD = LVTTL;
NET "led<6>" LOC = P124 | IOSTANDARD = LVTTL;
NET "led<7>" LOC = P123 | IOSTANDARD = LVTTL;

NET "vga_R" LOC = P15 | IOSTANDARD = LVTTL;
NET "vga_G" LOC = P12 | IOSTANDARD = LVTTL;
NET "vga_B" LOC = P10 | IOSTANDARD = LVTTL;

NET "vga_hsync" LOC = P6 | IOSTANDARD = LVTTL;
NET "vga_vsync" LOC = P2 | IOSTANDARD = LVTTL;
